.cent-vert {
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.stats-div {
  background-image: url('../img/elderly-image.jpg');
  background-size:cover;
}

.center {
    margin-left:auto;
    margin-right:auto;
  }

body {
	background-color:#fff;
}

h2 {
  font-family: sans-serif;
	color:black;
	font-size: 12px;
}

.container {
	/*margin:0 auto;*/
	width:880px;
	text-align:left;
}

table {
	max-width: 50%;
	min-width: 30%;
	text-align:center;
  margin-left:auto;
  margin-right:auto;
}
td {
	width: 10%;
	position: relative;
}
td:after {
	content: '';
	display: block;
	margin-top: 100%;
}
td .content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: gold;
}

.sm-img {
  width:250px
}

.top-row {
  height:55vh;
}

/* --------------------------------------------------------------------------------
	Sudoku
----------------------------------------------------------------------------------*/

#sudoku-grid .vert-3 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:1px solid gray;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}

#sudoku-grid .vert-8 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:1px solid gray;
	border-right:3px solid gray;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}

#sudoku-grid .hor-3 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:1px solid gray;
	border-right:1px solid gray;
	border-top: 3px solid gray;
	border-bottom:1px solid gray;
}

#sudoku-grid .hor-3-bot {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:1px solid gray;
	border-top: 1px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .hor-8 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:1px solid gray;
	border-right:1px solid gray;
	border-top:1px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .vert-hor-3 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:1px solid gray;
	border-top:3px solid gray;
	border-bottom:1px solid gray;
}

#sudoku-grid .vert-hor-8 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:1px solid gray;
	border-right:3px solid gray;
	border-top:3px solid gray;
	border-bottom:1px solid gray;
}

#sudoku-grid td {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:1px solid gray;
	border-right:1px solid gray;
	border-top:1px solid gray;
	border-bottom:1px solid gray;
}


#sudoku-grid input {
	float: left;
	padding: 0;
	width:30px; height:30px;
	text-align:center;
	vertical-align:middle;
	font-size: 12pt;
	-webkit-border-radius:0px;
}


.cell {
	/*border-style:none;*/
	color:#828A96;
}


/* Media Specific Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
@media (min-width: 550px) {

h2 {
  font-family: sans-serif;
	color:black;
	font-size: 20px;
}

#sudoku-grid input {
	float: left;
	padding: 0;
	width:50px; height:50px;
	text-align:center;
	vertical-align:middle;
	font-size: 30pt;
	-webkit-border-radius:0px;
}

#sudoku-grid .vert-3 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:9px solid gray;
	border-right:3px solid gray;
	border-top:3px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .vert-8 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:9px solid gray;
	border-top:3px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .hor-3 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:3px solid gray;
	border-top:9px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .hor-8 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:3px solid gray;
	border-top:3px solid gray;
	border-bottom:9px solid gray;
}

#sudoku-grid .vert-hor-3 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:9px solid gray;
	border-right:3px solid gray;
	border-top:9px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .vert-hor-8 {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:9px solid gray;
	border-top:9px solid gray;
	border-bottom:3px solid gray;
}

#sudoku-grid .hor-3-bot {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:9px solid gray;
	border-right:3px solid gray;
	border-top: 3px solid gray;
	border-bottom:9px solid gray;
}

#sudoku-grid td {
	text-align:center;
	vertical-align:middle;
	line-height:1em;

	border-left:3px solid gray;
	border-right:3px solid gray;
	border-top:3px solid gray;
	border-bottom:3px solid gray;
}

.cell {
	border-style:none;
	color:#828A96;
}

table .center{
	margin-left: auto;
  margin-right: auto;
	width: 100%;
}

.center {
    margin-left:auto;
    margin-right:auto;
  }

table {
	text-align:center;
  margin-left:auto;
  margin-right:auto;
  width:100px;
}

.sm-img {
  width:300px
}

.top-row {
  height:90vh;
}
.stats-div {
  background-image: url('../img/elderly-image.jpg');
  background-size:cover;
}
.cent-vert {
    height: 90%;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
}

.navbar-inner {
    min-height: 80px;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 60px;
    min-height: 80px;
    max-height: 80px;
    height: 80px;
    padding-top: 0;
}
